In [4]:
import pandas as pd
import numpy as np


path = 'data/'

In [8]:
def read_file(path, file_name):
    df = pd.read_csv(path + file_name)
    print('df {}: {}'.format(file_name, df.shape))
    return df

In [12]:
df_m = read_file(path, 'df_merge_cc.csv')
df_m.head(2)

df df_merge_cc.csv: (2886875, 6)

        h           t                     r    h_id    t_id  r_id
0  P41932  GO:0045167  hasBiologicalProcess  105518  157161     6
1  P41932  GO:0000132  hasBiologicalProcess  105518  103330     6